<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="bird-container">
      <div class="bird"></div>
    </div>
  </div>
</div>

<ul>
  <li>
    <h2><a rel="noopener" (click) = "downloadVideoWithWorker(1)">DOWNLOAD VIDEO 1 WITH WORKER</a></h2>
    <div *ngIf = "workerResponse && workerResponse[1] && workerResponse[1].length">
      <!-- <p *ngFor = "let chunkInfo of workerResponse[1]">{{ chunkInfo.result ? 'DONE' : 'PRROCESSING...' }}</p> -->
      <p>{{ getDownloadPercentage(1) }}</p>
    </div>
  </li>

  <li>
    <h2><a rel="noopener" (click) = "downloadVideoWithWorker(2)">DOWNLOAD VIDEO 2 WITH WORKER</a></h2>
    <div *ngIf = "workerResponse && workerResponse[2] && workerResponse[2].length">
      <!-- <p *ngFor = "let chunkInfo of workerResponse[2]">{{ chunkInfo.result ? 'DONE' : 'PRROCESSING...' }}</p> -->
      <p>{{ getDownloadPercentage(2) }}</p>
    </div>
  </li>

  <li>
    <h2><a rel="noopener" (click) = "downloadVideoWithWorker(3)">DOWNLOAD VIDEO 3 WITH WORKER</a></h2>
    <div *ngIf = "workerResponse && workerResponse[3] && workerResponse[3].length">
      <!-- <p *ngFor = "let chunkInfo of workerResponse[3]">{{ chunkInfo.result ? 'DONE' : 'PRROCESSING...' }}</p> -->
      <p>{{ getDownloadPercentage(3) }}</p>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>
