<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="bird-container">
      <div class="bird"></div>
    </div>
  </div>
</div>

<ul>
  <li *ngFor = "let asset of assetList">
    <div *ngIf = "!assetDetails[asset] || (assetDetails[asset] && (assetDetails[asset].res === 'IN_PROGRESS' || assetDetails[asset].res === 'FAILURE'))">
      <h2>
          DOWNLOAD COMPLETE VIDEO {{ asset }} ({{ assetListObj[asset].size / (1024 * 1024 * 1024) }})
      </h2>
      <button type="button" (click) = "downloadCompleteVideoWithWorker(asset)" [disabled] = "assetDetails[asset] && (assetDetails[asset].res === 'IN_PROGRESS' || assetDetails[asset].res === 'SUCCESS')">Download</button>
      <h3 *ngIf = "assetDetails[asset] && assetDetails[asset].res === 'IN_PROGRESS'">DOWNLOADING...({{ assetDetails[asset] && assetDetails[asset].lastChunkWritten && assetDetails[asset].totalChunks && (assetDetails[asset].lastChunkWritten * 100) / assetDetails[asset].totalChunks }} %)</h3>
      <h3 *ngIf = "assetDetails[asset] && assetDetails[asset].res === 'SUCCESS'">DOWNLOADED</h3>
      <h3 *ngIf = "assetDetails[asset] && assetDetails[asset].res === 'FAILURE'">FAILED</h3>
      <h3 *ngIf = "assetDetails[asset] === true">ALREADY DOWLOADED</h3>
      <button type="button" (click) = "onPlayClick(asset)" *ngIf="assetDetails[asset] && assetDetails[asset].res === 'SUCCESS'">PLAY</button>
      <button type="button" (click) = "downloadCompleteVideoWithWorker(asset)" *ngIf="assetDetails[asset] == false">DOWNLOAD AGAIN</button>
      <div class="" #videoTag [id] = "asset"></div>
    </div>
  </li>
</ul>

<h3>DOWNLOADED LIST</h3>

<ul>
  <li *ngFor = "let asset of assetList">
    <div *ngIf = "(assetDetails[asset] && assetDetails[asset].res === 'SUCCESS')">
      <h2>
          DOWNLOAD COMPLETE VIDEO {{ asset }} ({{ assetListObj[asset].size / (1024 * 1024 * 1024) }})
      </h2>
      <button type="button" (click) = "onPlayClick(asset)" *ngIf="assetDetails[asset] && assetDetails[asset].res === 'SUCCESS'">PLAY</button>
      <div class="" #videoTag [id] = "asset"></div>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>